#encabezado{
    background-color:#4a4a4a;
    text-align:center;
    font-size:35px;
    color:white;
    padding:20px;
}

.navbar{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    gap:30px;
    background-color:#666666;
}

.navbar li{
    list-style:none;
}

.navbar a{
    display:block;
    padding:15px;
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.navbar a:hover{
    background-color:#2f2f2f;
}

#columna_principal{
    width:100%;
    background-color:#b8b8b8;
    padding:20px;
    min-height:700px;
}

body{
    background-color:#d9d9d9;
    font-family:Arial, Helvetica, sans-serif;
}
